body {
  margin: 0;
  padding: 0;
  background: #262626;
}
#nav a {
  color: white;
  text-decoration: none;
}
#wrapper {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
#nav{
  position: fixed;
  top: 0;
  background: #1473e6;
  width: 100vw;
  padding: 10px;
}
#contents {
  width: 100vw;
  margin-top: 54px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.title {
  font-size: 30px;
  color: white;
}
.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 0;
}
.menu {
  font-size: 18px;
  margin: 0 7px;
  color: white;
}
.videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1500px;
  flex-wrap: wrap;
}
.video {
  margin: 60px 20px 0px 20px;
  width: 250px;
  height: 155px;
}
.empty {
  margin: 10px 20px 0px 20px;
  width: 250px;
  height: 0px;
}
.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.searchbar {
  width: 10vw;
  margin: 0;
  padding: 0;
}
.searchbutton {
  margin: 0;
  padding: 0;
}