li {
  list-style: none;
  min-width: 85px;
}
.slide-bar {
  position: sticky;
  position: -webkit-sticky;
  top: 100px;
  left: 20px;
  width: 200px;
  height: 500px;
  border: solid 2px blue;
  background: skyblue;
}
.filter-item {
  text-align: center;
  margin: 10px;
}
.result { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
